body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}
  
body {
    background-color: #fce7d2;
    font-family: Trebuchet MS, Helv etica;
  }

header {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin:auto;
    background-color: transparent;
    position: fixed;
}
  
#logo {
    float: left;
    width: 20%;
    font-size: 1.4em;
}

header #logo {
    color: #fff;
    cursor: pointer;
}
  
header #logo span {
    font-size: 2em;
    line-height: 45px;
    margin-left: 100px;
    font-family: 'Suez One', serif;
}
  
#menu {
    text-align: center;
    font-size: 1.2em;
    width: 80%;
    line-height: 45px;
    margin-bottom: 10px;
    float: right;
}
  
#menu a {color: #fff;}
  
#menu a:not(:last-child) {
    margin-right: 8%;
}

.fixed {
    z-index: 5000;
    background-color: #db8758;
    border-bottom: 1px solid silver;
  }
  
  header.fixed #logo {
    color: #343434;
  }
  
  .fixed #menu a {color: #343434}
  .fixed #menu a:hover {color: #724d4d}

#sky {
    width: 100%;
    background-image: url(../img/1.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: cover;
    text-align: center;
    height: 100%;
}

#sky a {
    color: #fff;
    position: relative;
    top: 410px;
    font-size: 35px;
}

#info {
    float: left;
    background-color: #564331;
  
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
  
    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }

#info h2 {font-size: 4em}

#info .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
    text-align: center;
  }
  
#info .img:nth-child(odd) {
    margin-left: 18%;
    text-align: center;
  }
  
#info img {
    background: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
#info span {
    float: left;
    width: 100%;
    font-size: 1.3em;
    margin-top: 10px;
    text-align:justify ;
    text-indent: 30px;
  }